@import '~normalize.css/normalize';

$themeColor1: #4AC6B7;
$themeColor2: #4F5E7F;
$themeColor3: #965F8A;
$themeColor4: #FF7070;
$themeColor5: #F9F7F7;


body {
    background-color: $themeColor5;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    outline: 0
}
