@import '../../global.scss';

.lib-form {
    width: 400px;
    margin: 50px auto;

    .btn {
        background-color: $themeColor1;
    }
}

.searchError {
    width: 400px;
    margin: 20px auto;
}

.divSpinner {
    margin: 0 auto;
    width: 80%;
}
.spinner {
    margin: 100px auto;
    width: 40px;
}
